services:
  customer:
    image: customer:latest
    container_name: customer
    ports:
      - "8001:8001"
    restart: always
    env_file:
      - .env.prod

  products:
    image: products:latest
    container_name: products
    ports:
      - "8002:8002"
    restart: always
    env_file:
      - .env.prod

  shopping:
    image: shopping:latest
    container_name: shopping
    ports:
      - "8003:8003"
    restart: always
    env_file:
      - .env.prod

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.prod.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - customer
      - products
      - shopping
    restart: always
